{%extends 'index.html'%} {% block threads%}
<main>
    <div class="main-wrapper">

        <div id="app">
            <form id="form" action="" method="post" @submit="f">
                <label for="thread_name">thread_name</label>
                <input name="thread_name" v-model="thread_name" type="text">
                <label for="thread_name">username</label>
                <input name="username" v-model="username" type="text">
                <label class="z" for="thread_name">text</label>
                <textarea class="z" name="thread_text" v-model="answer" cols="30" rows="10"></textarea>
                <input type="submit" value="go!">
            </form>
            <span :title="mes" @click="getsucked">
                ${message}          
            </span>{% for item in dick[::-1]%}
            <div class="main">
                <div class="thread-number">
                    <a id="{{item[0]}}" @click="ii({{item[0]}}) " href="#form">{{item[0]}}</a>
                </div>
                <div class="thread-name ">{{item[0]}} </div>
                <div class="username ">{{item[1]}} </div>
                <div class="thread-text ">{{item[2]}}</div>
                <div class="thread-time ">{{item[3]}} </div>
            </div>
            <button class="zz">Cкрыть/раскрыть пост </button> {%endfor%}
        </div>



    </div>
    </div>
    </div>
    <script>
    </script>
</main>
{% endblock threads%}